<nav class="topnav">
  <form class="searchForm">
      <svg class="searchForm__icon">
          <use xlink:href="assets/sprite.svg#icon-magnifying-glass"></use>
      </svg>
      <input class="searchForm__input" type="search" name="search" placeholder="Search for Movies or TV Series" value="">
  </form>
  <div clas="userAuth">
      <div class="topnav__buttons">
          <button class="button button--green button--skeleton">Login</button>
          <button class="button button--green">Sign up</button>
      </div>
      <div class="topnav__account">
          <img src="./assets/x_03.jpg" alt="person" title="person">
          <span>Kevin Adriana</span>
      </div>
  </div>
</nav>