<div class="card movieCard">
  <div class="movieCard__image">
      <img src="./assets/movie-poster.png" class="movieCard__imagesrc" />
  </div>
  <div class="movieCard__information">
      <h5 class="movieCard__title">Where The Wild Things are headed this way</h5>
      <div class="ratingholder">
          <span class="ratingholder__number">8.6</span>
      </div>
      <p class="movieCard__date">12 August 2020</p>
      <div class="movieCard__buttons">
          <button class="button button--green">Watch Trailer</button>
          <button class="button button--green button--skeleton">View More</button>
      </div>
  </div>
</div>