<div class="movieCard__image">
    <img src="https://image.tmdb.org/t/p/w500/{{content.poster_path}}" class="movieCard__imagesrc" />
</div>
<div class="movieCard__information">
    <h5 class="movieCard__title">{{ content.title }}</h5>
    <app-rating [rating]="content.vote_average"></app-rating>
    <p class="movieCard__date">{{ content.release_date }}</p>
    <div class="movieCard__buttons">
    <button class="button button--green" (click)="getTrailer(content.id)">Watch Trailer</button>
    <button routerLink="/moviesummary/{{ content.id }}" class="button button--green button--skeleton">View More</button>
    </div>
</div>