<section class="movieSection">
  <div class="container">
      <div class="switchTabs">
          <div class="switchTabs__tab active">Movies</div>
          <div class="switchTabs__tab">Series</div>
      </div>
      <h3 class="movieSection__title">Comedies</h3>
      <div class="movieSection__titles">

          <div class="card movieCard">
              <div class="movieCard__image">
                  <img src="./assets/movie-poster.png" class="movieCard__imagesrc" />
              </div>
              <div class="movieCard__information">
                  <h5 class="movieCard__title">Where The Wild Things are headed this way</h5>
                  <div class="ratingholder">
                      <span class="ratingholder__number">8.6</span>
                  </div>
                  <p class="movieCard__date">12 August 2020</p>
                  <div class="movieCard__buttons">
                      <button class="button button--green">Watch Trailer</button>
                      <button class="button button--green button--skeleton">View More</button>
                  </div>
              </div>
          </div>

          <div class="card movieCard">
              <div class="movieCard__image">
                  <img src="./assets/movie-poster.png" class="movieCard__imagesrc" />
              </div>
              <div class="movieCard__information">
                  <h5 class="movieCard__title">Where The Wild Things are headed this way</h5>
                  <div class="ratingholder">
                      <span class="ratingholder__number">8.6</span>
                  </div>
                  <p class="movieCard__date">12 August 2020</p>
                  <div class="movieCard__buttons">
                      <button class="button button--green">Watch Trailer</button>
                      <button class="button button--green button--skeleton">View More</button>
                  </div>
              </div>
          </div>

          <div class="card movieCard">
              <div class="movieCard__image">
                  <img src="./assets/movie-poster.png" class="movieCard__imagesrc" />
              </div>
              <div class="movieCard__information">
                  <h5 class="movieCard__title">Where The Wild Things are headed this way</h5>
                  <div class="ratingholder">
                      <span class="ratingholder__number">8.6</span>
                  </div>
                  <p class="movieCard__date">12 August 2020</p>
                  <div class="movieCard__buttons">
                      <button class="button button--green">Watch Trailer</button>
                      <button class="button button--green button--skeleton">View More</button>
                  </div>
              </div>
          </div>

          <div class="card movieCard">
              <div class="movieCard__image">
                  <img src="./assets/movie-poster.png" class="movieCard__imagesrc" />
              </div>
              <div class="movieCard__information">
                  <h5 class="movieCard__title">Where The Wild Things are headed this way</h5>
                  <div class="ratingholder">
                      <span class="ratingholder__number">8.6</span>
                  </div>
                  <p class="movieCard__date">12 August 2020</p>
                  <div class="movieCard__buttons">
                      <button class="button button--green">Watch Trailer</button>
                      <button class="button button--green button--skeleton">View More</button>
                  </div>
              </div>
          </div>

          <div class="card movieCard">
              <div class="movieCard__image">
                  <img src="./assets/movie-poster.png" class="movieCard__imagesrc" />
              </div>
              <div class="movieCard__information">
                  <h5 class="movieCard__title">Where The Wild Things are headed this way</h5>
                  <div class="ratingholder">
                      <span class="ratingholder__number">8.6</span>
                  </div>
                  <p class="movieCard__date">12 August 2020</p>
                  <div class="movieCard__buttons">
                      <button class="button button--green">Watch Trailer</button>
                      <button class="button button--green button--skeleton">View More</button>
                  </div>
              </div>
          </div>

          <div class="card movieCard">
              <div class="movieCard__image">
                  <img src="./assets/movie-poster.png" class="movieCard__imagesrc" />
              </div>
              <div class="movieCard__information">
                  <h5 class="movieCard__title">Where The Wild Things are headed this way</h5>
                  <div class="ratingholder">
                      <span class="ratingholder__number">8.6</span>
                  </div>
                  <p class="movieCard__date">12 August 2020</p>
                  <div class="movieCard__buttons">
                      <button class="button button--green">Watch Trailer</button>
                      <button class="button button--green button--skeleton">View More</button>
                  </div>
              </div>
          </div>
          <div class="card movieCard">
              <div class="movieCard__image">
                  <img src="./assets/movie-poster.png" class="movieCard__imagesrc" />
              </div>
              <div class="movieCard__information">
                  <h5 class="movieCard__title">Where The Wild Things are headed this way</h5>
                  <div class="ratingholder">
                      <span class="ratingholder__number">8.6</span>
                  </div>
                  <p class="movieCard__date">12 August 2020</p>
                  <div class="movieCard__buttons">
                      <button class="button button--green">Watch Trailer</button>
                      <button class="button button--green button--skeleton">View More</button>
                  </div>
              </div>
          </div>

          <div class="card movieCard">
              <div class="movieCard__image">
                  <img src="./assets/movie-poster.png" class="movieCard__imagesrc" />
              </div>
              <div class="movieCard__information">
                  <h5 class="movieCard__title">Where The Wild Things are headed this way</h5>
                  <div class="ratingholder">
                      <span class="ratingholder__number">8.6</span>
                  </div>
                  <p class="movieCard__date">12 August 2020</p>
                  <div class="movieCard__buttons">
                      <button class="button button--green">Watch Trailer</button>
                      <button class="button button--green button--skeleton">View More</button>
                  </div>
              </div>
          </div>

          <div class="card movieCard">
              <div class="movieCard__image">
                  <img src="./assets/movie-poster.png" class="movieCard__imagesrc" />
              </div>
              <div class="movieCard__information">
                  <h5 class="movieCard__title">Where The Wild Things are headed this way</h5>
                  <div class="ratingholder">
                      <span class="ratingholder__number">8.6</span>
                  </div>
                  <p class="movieCard__date">12 August 2020</p>
                  <div class="movieCard__buttons">
                      <button class="button button--green">Watch Trailer</button>
                      <button class="button button--green button--skeleton">View More</button>
                  </div>
              </div>
          </div>

          <div class="card movieCard">
              <div class="movieCard__image">
                  <img src="./assets/movie-poster.png" class="movieCard__imagesrc" />
              </div>
              <div class="movieCard__information">
                  <h5 class="movieCard__title">Where The Wild Things are headed this way</h5>
                  <div class="ratingholder">
                      <span class="ratingholder__number">8.6</span>
                  </div>
                  <p class="movieCard__date">12 August 2020</p>
                  <div class="movieCard__buttons">
                      <button class="button button--green">Watch Trailer</button>
                      <button class="button button--green button--skeleton">View More</button>
                  </div>
              </div>
          </div>


          <div class="card movieCard">
              <div class="movieCard__image">
                  <img src="./assets/movie-poster.png" class="movieCard__imagesrc" />
              </div>
              <div class="movieCard__information">
                  <h5 class="movieCard__title">Where The Wild Things are headed this way</h5>
                  <div class="ratingholder">
                      <span class="ratingholder__number">8.6</span>
                  </div>
                  <p class="movieCard__date">12 August 2020</p>
                  <div class="movieCard__buttons">
                      <button class="button button--green">Watch Trailer</button>
                      <button class="button button--green button--skeleton">View More</button>
                  </div>
              </div>
          </div>

          <div class="card movieCard">
              <div class="movieCard__image">
                  <img src="./assets/movie-poster.png" class="movieCard__imagesrc" />
              </div>
              <div class="movieCard__information">
                  <h5 class="movieCard__title">Where The Wild Things are headed this way</h5>
                  <div class="ratingholder">
                      <span class="ratingholder__number">8.6</span>
                  </div>
                  <p class="movieCard__date">12 August 2020</p>
                  <div class="movieCard__buttons">
                      <button class="button button--green">Watch Trailer</button>
                      <button class="button button--green button--skeleton">View More</button>
                  </div>
              </div>
          </div>
          <div class="card movieCard">
              <div class="movieCard__image">
                  <img src="./assets/movie-poster.png" class="movieCard__imagesrc" />
              </div>
              <div class="movieCard__information">
                  <h5 class="movieCard__title">Where The Wild Things are headed this way</h5>
                  <div class="ratingholder">
                      <span class="ratingholder__number">8.6</span>
                  </div>
                  <p class="movieCard__date">12 August 2020</p>
                  <div class="movieCard__buttons">
                      <button class="button button--green">Watch Trailer</button>
                      <button class="button button--green button--skeleton">View More</button>
                  </div>
              </div>
          </div>

          <div class="card movieCard">
              <div class="movieCard__image">
                  <img src="./assets/movie-poster.png" class="movieCard__imagesrc" />
              </div>
              <div class="movieCard__information">
                  <h5 class="movieCard__title">Where The Wild Things are headed this way</h5>
                  <div class="ratingholder">
                      <span class="ratingholder__number">8.6</span>
                  </div>
                  <p class="movieCard__date">12 August 2020</p>
                  <div class="movieCard__buttons">
                      <button class="button button--green">Watch Trailer</button>
                      <button class="button button--green button--skeleton">View More</button>
                  </div>
              </div>
          </div>

          <div class="card movieCard">
              <div class="movieCard__image">
                  <img src="./assets/movie-poster.png" class="movieCard__imagesrc" />
              </div>
              <div class="movieCard__information">
                  <h5 class="movieCard__title">Where The Wild Things are headed this way</h5>
                  <div class="ratingholder">
                      <span class="ratingholder__number">8.6</span>
                  </div>
                  <p class="movieCard__date">12 August 2020</p>
                  <div class="movieCard__buttons">
                      <button class="button button--green">Watch Trailer</button>
                      <button class="button button--green button--skeleton">View More</button>
                  </div>
              </div>
          </div>

          <div class="card movieCard">
              <div class="movieCard__image">
                  <img src="./assets/movie-poster.png" class="movieCard__imagesrc" />
              </div>
              <div class="movieCard__information">
                  <h5 class="movieCard__title">Where The Wild Things are headed this way</h5>
                  <div class="ratingholder">
                      <span class="ratingholder__number">8.6</span>
                  </div>
                  <p class="movieCard__date">12 August 2020</p>
                  <div class="movieCard__buttons">
                      <button class="button button--green">Watch Trailer</button>
                      <button class="button button--green button--skeleton">View More</button>
                  </div>
              </div>
          </div>

          <div class="card movieCard">
              <div class="movieCard__image">
                  <img src="./assets/movie-poster.png" class="movieCard__imagesrc" />
              </div>
              <div class="movieCard__information">
                  <h5 class="movieCard__title">Where The Wild Things are headed this way</h5>
                  <div class="ratingholder">
                      <span class="ratingholder__number">8.6</span>
                  </div>
                  <p class="movieCard__date">12 August 2020</p>
                  <div class="movieCard__buttons">
                      <button class="button button--green">Watch Trailer</button>
                      <button class="button button--green button--skeleton">View More</button>
                  </div>
              </div>
          </div>

          <div class="card movieCard">
              <div class="movieCard__image">
                  <img src="./assets/movie-poster.png" class="movieCard__imagesrc" />
              </div>
              <div class="movieCard__information">
                  <h5 class="movieCard__title">Where The Wild Things are headed this way</h5>
                  <div class="ratingholder">
                      <span class="ratingholder__number">8.6</span>
                  </div>
                  <p class="movieCard__date">12 August 2020</p>
                  <div class="movieCard__buttons">
                      <button class="button button--green">Watch Trailer</button>
                      <button class="button button--green button--skeleton">View More</button>
                  </div>
              </div>
          </div>

          <div class="card movieCard">
              <div class="movieCard__image">
                  <img src="./assets/movie-poster.png" class="movieCard__imagesrc" />
              </div>
              <div class="movieCard__information">
                  <h5 class="movieCard__title">Where The Wild Things are headed this way</h5>
                  <div class="ratingholder">
                      <span class="ratingholder__number">8.6</span>
                  </div>
                  <p class="movieCard__date">12 August 2020</p>
                  <div class="movieCard__buttons">
                      <button class="button button--green">Watch Trailer</button>
                      <button class="button button--green button--skeleton">View More</button>
                  </div>
              </div>
          </div>

          <div class="card movieCard">
              <div class="movieCard__image">
                  <img src="./assets/movie-poster.png" class="movieCard__imagesrc" />
              </div>
              <div class="movieCard__information">
                  <h5 class="movieCard__title">Where The Wild Things are headed this way</h5>
                  <div class="ratingholder">
                      <span class="ratingholder__number">8.6</span>
                  </div>
                  <p class="movieCard__date">12 August 2020</p>
                  <div class="movieCard__buttons">
                      <button class="button button--green">Watch Trailer</button>
                      <button class="button button--green button--skeleton">View More</button>
                  </div>
              </div>
          </div>
      </div>

  </div>
  <div class="pagination">
      <svg class="pagination__arrow pagination__arrowLeft">
          <use xlink:href="assets/sprite.svg#icon-chevron-left"></use>
      </svg>

      <div class="pagination__pill active">1</div>
      <div class="pagination__pill">2</div>
      <div class="pagination__pill">3</div>
      <div class="pagination__pill">4</div>
      <div class="pagination__pill">5</div>
      <div class="pagination__pill">6</div>
      <div class="pagination__pill">7</div>

      <svg class="pagination__arrow pagination__arrowRight">
          <use xlink:href="assets/sprite.svg#icon-chevron-right"></use>
      </svg>
  </div>
</section>