<section class="movieDetails">
  <div class="movieDetails__wrapper">
      <div class="movieDetailSummary actorDetailSummary">
          <div class="actorDetailSummary__imageContanier">
              <img *ngIf="actor?.profile_path !== null" src="https://image.tmdb.org/t/p/w500/{{actor?.profile_path}}" class="actorDetailSummary__image" alt="Movie Poster" title="Movie Poster">
              <img *ngIf="actor?.profile_path === null" src="./assets/imageNotFound.jpg" class="movieCard__imagesrc" />
              <span class="actorDetailSummary__name">{{ actor?.name }}</span>
          </div>
          <div class="movieDetailSummary__wrapper">
              <h3 class="movieDetails__title">Actor Details</h3>
              <div class="misc">
                  <div class="misc__box">
                      <div class="movieDetails__title movieDetails__title--smaller">Biography</div>
                      <p class="misc__info">
                        {{ actor?.biography }}
                      </p>
                  </div>

                  <div class="misc__box">
                      <div class="movieDetails__title movieDetails__title--smaller">Occupation</div>
                      <p class="misc__info">{{ actor?.known_for_department }}</p>
                  </div>

                  <div class="misc__box">
                    <div class="movieDetails__title movieDetails__title--smaller">Gender</div>
                    <p class="misc__info">{{ gender }}</p>
                  </div>

                  <div class="misc__box">
                    <div class="movieDetails__title movieDetails__title--smaller">Date of Birth</div>
                    <p class="misc__info">{{ actor?.birthday | date: 'dd/MM/yyyy' }}</p>
                  </div>

                  <div class="misc__box">
                      <div class="movieDetails__title movieDetails__title--smaller">Place of birth</div>
                      <p class="misc__info">{{ actor?.place_of_birth }}</p>
                  </div>
              </div>
          </div>
      </div>

      <div class="movieDetailsMaincontent">
          <main class="movieMain">
              <section class="moreMovies">
                  <h3 *ngIf="credits?.length > 0" class="moreMovies__title">Popular Roles</h3>
                  <div class="moreMovies__titles">
                    <div class="card movieCard" *ngFor="let credit of credits">
                        <app-movie-card [content]="credit"></app-movie-card>
                    </div>
                  </div>
              </section>
          </main>
      </div>
  </div>
</section>