<nav class="navigation">
  <h3 class="navigation__logo">MDBv2<span>&#149;</span></h3>
  <div class="navigation__wrapper">
      <a class="navigation__node active">
          <svg class="navigation__icon">
              <use xlink:href="assets/sprite.svg#icon-video"></use>
          </svg>
          <h5 class="navigation__nodename">Now Playing</h5>
      </a>
      <a class="navigation__node">
          <svg class="navigation__icon">
              <use xlink:href="assets/sprite.svg#icon-desktop"></use>
          </svg>
          <h5 class="navigation__nodename">Top Rated</h5>
      </a>
      <a class="navigation__node">
          <svg class="navigation__icon">
              <use xlink:href="assets/sprite.svg#icon-presentation"></use>
          </svg>
          <h5 class="navigation__nodename">Popular</h5>
      </a>
      <a class="navigation__node">
          <svg class="navigation__icon">
              <use xlink:href="assets/sprite.svg#icon-clock"></use>
          </svg>
          <h5 class="navigation__nodename">Coming Soon</h5>
      </a>
  </div>
</nav>