<div class="reviews__review">
  <div class="ratingholder">
      <span class="ratingholder__number">8.6</span>
  </div>
  <div class="reviews__title">
      Dan Cederholm <br>
      <span class="reviews__date">October 22, 2017</span>
  </div>
  <div class="reviews__slug">This is how movies should be made!</div>
  <div class="reviews__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est obcaecati eos, 
      assumenda itaque fugiat tenetur eius similique perspiciatis quo a, 
      placeat excepturi ad officia pariatur?
      <br>
      <a class="reviews__link" href="#">See more &rarr;</a>
  </div>
</div>