<div class="overlay" (click)="hideModal($event)">
  <div class="modal modalAuth">
      <div class="modalAuth__tabs">
          <button [class.active]="showState === 'login'" class="tab" (click)="modalStateSwap($event)">Login</button>
          <button [class.active]="showState === 'sign up'" class="tab" (click)="modalStateSwap($event)">Sign up</button>
      </div>
      <div class="modalAuth__padding">
          <p *ngIf="showState === 'sign up'" class="modalAuth__slug">Enter your email and password to <a style="cursor:pointer; font-weight: bold; text-decoration: underline;" (click)="modalStateSwap($event)">Login</a></p>
          <p *ngIf="showState === 'login'" class="modalAuth__slug">Don't have an account? <a style="cursor:pointer; font-weight: bold; text-decoration: underline;" (click)="modalStateSwap($event)">Sign up</a></p>
      </div>
      <div class="modalForm inputbox">
          <div *ngIf="showState === 'sign up'" class="modalForm__signup">
              <div class="inputbox__box">
                  <label id="signup_email" class="inputbox__label">Email *</label>
                  <input type="text" name="signup_email" class="inputbox__input" placeholder="Email">
              </div>
              <div class="inputbox__box">
                  <label id="signup_password" class="inputbox__label">Password *</label>
                  <input type="password" name="signup_password" class="inputbox__input" placeholder="Password">
                  <svg class="modalForm__icon" (click)="showPassword($event)">
                      <use xlink:href="assets/sprite.svg#icon-eye"></use>
                  </svg>
              </div>
          </div>
          <div *ngIf="showState === 'login'" class="modalForm__login">
              <div class="inputbox__box">
                  <label id="login_email" class="inputbox__label">Email *</label>
                  <input type="text" name="login_email" class="inputbox__input" placeholder="Email">
              </div>
              <div class="inputbox__box">
                  <label id="login_password" class="inputbox__label">Password *</label>
                  <input type="password" name="login_password" class="inputbox__input" placeholder="Password">
                  <svg class="modalForm__icon" (click)="showPassword($event)">
                      <use xlink:href="assets/sprite.svg#icon-eye"></use>
                  </svg>
              </div>
              <div class="inputbox__box borderTop0">
                  <label id="login_confirmpassword" class="inputbox__label">Confirm Password *</label>
                  <input type="password" name="login_confirmpassword" class="inputbox__input" placeholder="Confirm Password">
                  <svg class="modalForm__icon" (click)="showPassword($event)">
                      <use xlink:href="assets/sprite.svg#icon-eye"></use>
                  </svg>
              </div>
          </div>
          <div class="modalAuth__padding">
              <button class="button button--green" type="submit" disabled>{{ showState === 'login' ? 'Login' : 'Sign up' }}</button>
          </div>
      </div>
  </div>
</div>