<header class="movie-header">
  <div class="container-small">
      <!-- <svg class="movie-header__playicon">
          <use xlink:href="assets/sprite.svg#icon-play2"></use>
      </svg> -->
      <h4 class="movie-header__slug">Most Popular</h4>
      <div class="category">
          <div class="category__wrapper">
              <div class="category__pill category__pill--large category__pill--white">Drama</div>
              <div class="category__pill category__pill--large category__pill--white">Sci-fi</div>
          </div>
      </div>
      <h1 class="movie-header__title">Made In America</h1>
      <span class="movie-header__date">12 August 2020 &nbsp; | &nbsp; 240 mins</span>
      <p class="movie-header__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa aspernatur aliquam vitae magni officiis, 
          ipsam at iste quis id praesentium iure, quibusdam adipisci quaerat fuga dolorum alias consequuntur, quam voluptatibus.
      </p>
      <button class="button button--green marginBottom20">Watch Trailer</button>
  </div>
</header>