<header class="movie-header" [style.background-image]="backgroundImageUrl ? backgroundImageUrl() : null">
  <div class="container-small">
      <svg class="movie-header__playicon" (click)="getTrailer(content?.id)">
          <use xlink:href="assets/sprite.svg#icon-play2"></use>
      </svg>
      <h4 class="movie-header__slug">Most Popular</h4>
      <div class="category">
          <div class="category__wrapper">
              <div class="category__pill category__pill--large category__pill--white">Drama</div>
              <div class="category__pill category__pill--large category__pill--white">Sci-fi</div>
          </div>
      </div>
      <h1 class="movie-header__title">{{ content?.title }}</h1>
      <span class="movie-header__date">Release date: {{ content?.release_date }}</span>
      <p class="movie-header__description">
        {{ content?.overview }}
      </p>
      <button routerLink="/moviesummary/{{ content?.id }}" class="button button--green marginBottom20">View More</button>
      <button class="marginLeft30 button button--green marginBottom20" (click)="getTrailer(content?.id)">Watch Trailer</button>
  </div>
</header>