<section class="movieDetails">
  <div class="movieDetails__wrapper">
      <div class="movieDetailSummary">
          <div class="movieDetailSummary__imageContanier">
              <img src="https://image.tmdb.org/t/p/w500/{{content?.poster_path}}" class="movieDetailSummary__image" alt="{{content?.title ? content?.title : content?.name }}" title="{{content?.title ? content?.title : content?.name }}">
          </div>
          <div class="movieDetailSummary__wrapper">
              <h3 class="movieDetails__title">Movie Details</h3>

              <div class="category">
                  <div class="movieDetails__title movieDetails__title--smaller">Category</div>
                  <div class="category__wrapper">
                      <div class="category__pill" *ngFor="let genre of genres">{{ genre.name }}</div>
                  </div>
              </div>

              <div class="misc">
                <div class="misc__box">
                    <div class="movieDetails__title movieDetails__title--smaller">Initial release date</div>
                    <p class="misc__info">{{ content?.release_date }}</p>
                </div>
                <div class="misc__box">
                    <div class="movieDetails__title movieDetails__title--smaller">Runtime</div>
                    <p class="misc__info">{{ content?.runtime }}mins</p>
                </div>
              </div>

              <div class="reviews">
                  <h3 *ngIf="reviews?.length > 0" class="movieDetails__title">Recent Reviews</h3>
                  <div *ngFor="let review of reviews">
                    <app-reviews [userReview]="review"></app-reviews>
                  </div>
              </div>
          </div>
      </div>

      <div class="movieDetailsMaincontent">
          <header class="movieDetailHeader" [style.background-image]="this.backgroundImage ? this.backgroundImage : null">
              <svg class="movieDetailHeader__playicon" (click)="getTrailer(content?.id)">
                  <use xlink:href="assets/sprite.svg#icon-play2"></use>
              </svg>
              <div class="movieDetailHeader__media">
                  <h3 *ngIf="videos?.length > 0" class="movieDetailHeader__title">Media</h3>
                  <div class="movieDetailHeader__videos">
                    <div *ngFor="let video of videos">
                        <iframe
                            title="{{video?.title}}"
                            width="300" height="170" 
                            [src]="getEmbedUrl(video)" frameBorder="0" 
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowFullScreen>
                        </iframe>
                    </div>
                  </div>
              </div>
          </header>
          <main class="movieMain">

              <app-rating [rating]="content?.vote_average"></app-rating>

              <h2 class="movieMain__title">{{ content?.title ? content?.title : content?.name }} <span>{{ content?.release_date | date: 'dd-MM-yyyy' }}</span></h2>
              <div class="movieMain__storyline">
                  <h3 class="marginBottom10">Storyline</h3>
                  <p>{{ content?.overview }}</p>
              </div>

              <div class="cast">
                  <h3 class="cast__title">The Cast</h3>
                  <div class="cast__wrapper">
                    <div class="card castCard" *ngFor="let member of cast">
                        <app-cast-card [castMember]="member"></app-cast-card>
                    </div>
                  </div>

              </div>

              <section class="moreMovies">
                  <h3 *ngIf="similarContent?.length > 0" class="moreMovies__title">Similar Movies</h3>
                  <div class="moreMovies__titles">
                    <div class="card movieCard" *ngFor="let content of similarContent">
                        <app-movie-card [content]="content"></app-movie-card>
                    </div>  
                  </div>
              </section>
          </main>
      </div>
  </div>
</section>